.border {
	margin-left: 1rem;
	display: inline-block;
	text-align: center;
	padding: 0 2rem;
	background-color: $white;
	color: $black;
	box-shadow: 0 0 0.5rem 0.3rem rgba(0, 0, 0, 0.144);
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	@include respond(phone) {
		margin-top: 1rem;
		&:first-child {
			margin-left: 0;
		}
	}
	&.nightmode {
		box-shadow: 0 0 0.5rem 0.3rem rgba(0, 0, 0, 0.212);
		background-color: $dark-blue;
		color: $white;
	}

	&__header {
		font-size: 1.4rem;
		font-weight: 200;
	}
}
