.btn-search {
	padding: 1rem 1rem;
	position: absolute;
	background-color: $white;
	color: $dark-gray;

	&.nightmode {
		background-color: $dark-blue;
		color: $white;
	}
}

.btn-return {
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	padding: 0.2rem 2.5rem;
	position: absolute;
	background-color: $white;
	color: $black;
	box-shadow: 0 0 0.5rem 0.3rem rgba(0, 0, 0, 0.144);
	cursor: pointer;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;

	&--icon {
		font-size: 1.8rem;
		font-weight: 700;
		margin-top: 0.2rem;
		color: inherit;
	}

	&--text {
		font-size: 1.4rem;
		font-weight: 200;
		margin-left: 1rem;
	}

	&.nightmode {
		box-shadow: 0 0 0.5rem 0.3rem rgba(0, 0, 0, 0.212);
		background-color: $dark-blue;
		color: $white;
	}
}
