.card {
	display: inline-block;
	width: 28rem;
	height: 35rem;
	background: $white;
	box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;

	&.nightmode {
		background: $dark-blue;
	}

	@include respond(phone) {
		display: block;
	}

	&__title {
		font-size: 1.6rem;
		margin: 0rem 2rem;
		margin-top: 1.5rem;
	}

	&__cover {
		width: 100%;
		height: 18rem;
	}

	&__img {
		width: 100%;
		height: 100%;
		float: left;
		object-fit: cover;
		background-size: cover;
		background-blend-mode: screen;
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
	}

	&__detail {
		margin: 1rem 2rem 4rem 2rem;
		font-size: 1.4rem;
		line-height: 1.7;

		span {
			font-weight: 200;
			color: $dark-gray;
		}

		p {
			font-weight: 600;
		}
	}
}
